# IDEs
.idea/
.vscode/


# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Ignore all application.properties files
**/application.properties


user-service/.env
jwt-service/.env
post-service/.env
bid-service/.env
sms-service/.env

# Ignore build output (target) folders
target/
user-service/target
jwt-service/target
post-service/target
bid-service/target
sms-service/target
admin-service/target
.env
k8s/secrets.yaml
k8s/configmap.yaml


